body {
	font-family: ubuntu, sans-serif;
	padding: 0px;
	margin: 0px;
	height: 100%;
}

html {
	height: 100%;
}

#mapid {
	height:100%;
	width: 100%;
	display: block;
    z-index: 1;
}

#notify {
    position:fixed;
    bottom: 0px;
    width:100%;
    background-color:red;
    height:20px;
    color:white;
    display:none;
    text-align:center;
    padding:5px;
    line-height:1em;
    cursor:pointer;
    z-index: 2;
}
